

.macButtons-tech-div{
padding: 30px 0;

}

.macbookButton-tech{
  background-color: white;
  border-width:thin;
    border-color: :lightgrey;
    color: black;
    padding: 15px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;

}


.pictures-13{
  padding:50px 0;
}
